<div class="container">
  <div class="text-align-center">
    <h1>{{ title }}</h1>
  </div>
  <div id="project-grid">
    <div class="row text-align-center">
      <div class="col-md-3 mt-3">

        <mat-card class="project-card">
          <mat-card-title>
            <h5 class="text-align-center">Home Interior Design</h5>
          </mat-card-title>
          <img mat-card-image  height="250" width="300" src="../../assets/images/project1.jpeg" alt="Image info">
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <div class="text-align-center">
              <a routerLink="/dashboard">
                <button mat-raised-button color="primary">{{ viewProjectBtnText }}</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-md-3 mt-3">

        <mat-card class="project-card">
          <mat-card-title>
            <h5 class="text-align-center">Beach House Design</h5>
          </mat-card-title>
          <img mat-card-image height="250" width="300" src="../../assets/images/project3.jpeg" alt="Image info">
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <div class="text-align-center">
              <a routerLink="/dashboard">
                <button mat-raised-button color="primary">{{ viewProjectBtnText }}</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-md-3 mt-3">
        <mat-card class="project-card">
          <mat-card-title>
            <h5 class="text-align-center">Modern Architecture</h5>
          </mat-card-title>
          <img mat-card-image height="250" width="300" src="../../assets/images/project4.jpg" alt="Image info">
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <div class="text-align-center">
              <a routerLink="/dashboard">
                <button mat-raised-button color="primary">{{ viewProjectBtnText }}</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-3 mt-3">
        <mat-card class="project-card">
          <mat-card-title>
            <h5 class="text-align-center">Commercial Architecture</h5>
          </mat-card-title>
          <img mat-card-image height="250" width="300" src="../../assets/images/project2.jpg" alt="Image info">
          <mat-card-content>
      
          </mat-card-content>
          <mat-card-actions>
            <div class="text-align-center">
              <a routerLink="/dashboard">
                <button mat-raised-button color="primary">{{ viewProjectBtnText }}</button>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>

</div>